.slider-container {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}

.slider-title {
  text-align: center;
  font-size: 1.7rem;
  color: black;
}

.slider-item-wrapper {
  background-color: #f7f7f7;
  margin: 15px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.slider-item-discount::before {
  content: attr(data-discount);
  position: absolute;
  left: 0px;
  background-color: #c71621;
  padding: 10px 7px;
  color: #fff;
}

.slider-item-new::after {
  content: attr(data-isnew);
  position: absolute;
  left: 0px;
  top: 65px;
  background-color: #2a2a2c;
  padding: 10px 8px;
  color: #fff;
}

.slider-item-likecount::after {
  content: attr(data-likecount);
  position: absolute;
  left: 0px;
  top: 65px;
  background-color: #fff;
  padding: 10px 10px;
  color: #c71621;
  font-weight: bold;
}

.product-title {
  font-weight: bolder;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
  word-break: keep-all;
  height: 10px;
}

.product-categories {
  color: #a2a2a2;
  margin-top: 60px;
  font-size: 12px;
  height: 15px;
  text-overflow: clip;
}

.product-price {
  font-weight: bold;
  margin-top: 50px;
  font-size: 17px;
}

.product-oldprice {
  margin-left: 10px;
  text-decoration-line: line-through;
  color: #a2a2a2;
}

.product-baseprice {
  color: #a2a2a2;
  font-size: 10px;
  margin-top: 13px;
}

ul {
  width: max-content;
  height: 100%;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.75s ease;
}

li {
  width: 12vw;
  height: 100%;
  float: left;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px 3px;
  background: white;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.15s ease;
  border: 1px solid #ddd;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  cursor: pointer;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  color: #888;
}

@media screen and (max-width: 1000px) {
  li {
    width: 360px;
  }
}

@media screen and (min-width: 1000px) {
  li {
    width: 230px;
  }
}
