.slider-title {
  text-align: center;
  font-size: 2.2rem;
  color: white;
}

.slider-container {
  width: 100%;
  height: 450px;
  position: relative;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.slider-item-wrapper {
  background-color: #f7f7f7;
  margin: 15px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.product-categories {
  color: #a2a2a2;
  top: 30px;
  position: relative;
  font-size: 12px;
}

.product-title {
  font-weight: bold;
  font-size: 15px;
  padding-top: 40px;
  text-align: justify;
}

ul {
  width: 9999%;
  height: 100%;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.75s ease;
}

li {
  width: 15.2vw;
  height: 100%;
  float: left;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px 3px;
  background: white;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.15s ease;
  border: 1px solid #ddd;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  color: #888;
}
